{% load static tailwind_tags %}
{% load static %}
<!DOCTYPE html>
<html lang="en" class="dark">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Default SEO meta tags -->
    <title>{% block title %}Prebo Tools{% endblock %}</title>
    <meta name="description"
        content="{% block description %}Access a suite of free online tools and automation services to enhance your digital projects.{% endblock %}">
    <meta name="keywords"
        content="Prebo Digital, online tools, image resizer, digital automation, free image tools, marketing tools">

    <!-- Open Graph Tags for Social Media -->
    <meta property="og:title" content="Prebo Digital Tools">
    <meta property="og:description"
        content="Explore our free online tools and automation services designed to streamline your digital workflow.">
    <meta property="og:image" content="{% static 'images/logo-light-mode.webp' %}">
    <meta property="og:url" content="https://tools.prebodigital.co.za/">
    <meta property="og:type" content="website">

    <!-- Twitter Card Tags -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="Prebo Digital Tools">
    <meta name="twitter:description"
        content="Discover free online tools and automation services to boost your digital projects.">
    <meta name="twitter:image" content="{% static 'images/logo-light-mode.webp' %}">

    <link rel="shortcut icon" href="{% static 'images/favicon.ico' %}" type="image/x-icon">
    {% tailwind_css %}

    <!-- Flowbite - https://flowbite.com/docs/getting-started/quickstart/ -->
    <link href="{% static 'flowbite/css/flowbite.min.css' %}" rel="stylesheet" />

    <!-- Custom Tags -->
    {% block head %}{% endblock %}
</head>

<body
    class="bg-gradient-to-r from-slate-100 to-slate-300 dark:from-slate-800 dark:to-slate-950 text-slate-950 dark:text-slate-200 min-h-screen flex flex-col justify-between">

    {% include 'main/header.html' %}

    <main class="flex-grow">
        <div class="container mx-auto px-4 md:px-0 max-w-7xl mt-5">
            {% block content %}{% endblock %}
        </div>
    </main>

    {% include 'main/footer.html' %}

    <!-- Scripts -->
    <script src="{% static 'flowbite/js/flowbite.min.js' %}"></script>
    <script src="{% static 'core/js/script.js' %}"></script>
</body>

</html>