{% load static tailwind_tags %}
{% load static %}
<!DOCTYPE html>
<html lang="en" class="dark">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Prebo Tools{% endblock %}</title>
    <link rel="shortcut icon" href="{% static 'images/favicon.ico' %}" type="image/x-icon">
    {% tailwind_css %}

    <!-- Flowbite - https://flowbite.com/docs/getting-started/quickstart/ -->
    <link href="{% static 'flowbite/css/flowbite.min.css' %}" rel="stylesheet" />

    <!-- Custom CSS -->
    {% block head %}{% endblock %}
</head>

<body
    class="bg-gradient-to-r from-slate-100 to-slate-300 dark:from-slate-800 dark:to-slate-950 text-slate-950 dark:text-slate-200 min-h-screen flex flex-col justify-between">

    {% include 'main/header.html' %}

    <main class="flex-grow">
        <div class="container mx-auto px-4 md:px-0 max-w-7xl mt-5">
            {% block content %}{% endblock %}
        </div>
    </main>

    {% include 'main/footer.html' %}

    <!-- Scripts -->
    <script src="{% static 'flowbite/js/flowbite.min.js' %}"></script>
    <script src="{% static 'core/js/script.js' %}"></script>
</body>

</html>