<!-- templates/main/header.html -->
<header
    class="border-b dark:border-slate-800 backdrop-blur-md shadow-sm bg-gradient-to-r from-slate-50/50 to-slate-300/50 dark:from-slate-600/50 dark:to-slate-950/50 py-4 sticky top-0">
    <div class="container mx-auto flex justify-between items-center">
        <h1 class="text-2xl font-bold">Prebo Digital Tools</h1>
        <nav class="flex items-center">

            {% if user.is_authenticated %}

            <a href="{% url 'dashboard' %}"
                class="transition-all rounded-lg hover:bg-slate-100 dark:hover:bg-slate-600 me-4 p-2">Dashboard</a>

            <!-- START AI Feed Optimiser -->
            <button id="dropdownHoverButton" data-dropdown-toggle="dropdownHover" data-dropdown-trigger="hover"
                class="flex items-center transition-all rounded-lg hover:bg-slate-100 dark:hover:bg-slate-600 me-4 p-2"
                type="button">
                <svg class="w-2 h-2 me-1" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none"
                    viewBox="0 0 10 6">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                        d="m1 1 4 4 4-4" />
                </svg>
                AI Feed Optimiser
            </button>

            <!-- Dropdown menu -->
            <div id="dropdownHover"
                class="z-10 hidden bg-white divide-y divide-slate-100 rounded-lg shadow w-44 dark:bg-slate-700">
                <ul class="py-2 text-sm text-slate-700 dark:text-slate-200" aria-labelledby="dropdownHoverButton">
                    <li>
                        <a href="{% url 'feed_optimiser' %}"
                            class="block px-4 py-2 hover:bg-slate-100 hover:text-slate-700 dark:hover:bg-slate-600 dark:hover:text-white">
                            AI Feed Optimiser
                        </a>
                    </li>
                    <li>
                        <a href="{% url 'all_feed_optimiser_feeds' %}"
                            class="block px-4 py-2 hover:bg-slate-100 hover:text-slate-700 dark:hover:bg-slate-600 dark:hover:text-white">
                            All Optimsed Feeds
                        </a>
                    </li>
                </ul>
            </div>
            <!-- END AI Feed Optimiser -->


            <form method="post" action="{% url 'logout' %}">
                {% csrf_token %}
                <input type="hidden" name="next" value="{{ next }}">

                <button type="submit"
                    class="text-white transition shadow-inner shadow-zinc-950 focus:outline-none font-medium rounded-lg text-sm px-5 py-2.5 bg-gray-700 hover:bg-gray-800 focus:shadow-zinc-600 border-gray-700 hover:shadow-zinc-600">Log
                    Out</button>

            </form>

            {% else %}

            <a href="{% url 'home' %}"
                class="transition-all rounded-lg hover:bg-slate-100 dark:hover:bg-slate-600 me-4 p-2">Home</a>

            <a href="{% url 'login' %}"
                class="text-white transition shadow-inner shadow-zinc-950 focus:outline-none font-medium rounded-lg text-sm px-5 py-2.5 bg-gray-700 hover:bg-gray-800 focus:shadow-zinc-600 border-gray-700 hover:shadow-zinc-600">Log
                In</a>

            {% endif %}

            <button id="theme-toggle" type="button"
                class="ms-2 text-gray-500 dark:text-gray-400 hover:bg-gray-100 dark:hover:bg-gray-700 focus:outline-none rounded-lg text-sm p-2.5">
                <svg id="theme-toggle-dark-icon" class="hidden w-5 h-5" fill="currentColor" viewBox="0 0 20 20"
                    xmlns="http://www.w3.org/2000/svg">
                    <path d="M17.293 13.293A8 8 0 016.707 2.707a8.001 8.001 0 1010.586 10.586z"></path>
                </svg>
                <svg id="theme-toggle-light-icon" class="hidden w-5 h-5" fill="currentColor" viewBox="0 0 20 20"
                    xmlns="http://www.w3.org/2000/svg">
                    <path
                        d="M10 2a1 1 0 011 1v1a1 1 0 11-2 0V3a1 1 0 011-1zm4 8a4 4 0 11-8 0 4 4 0 018 0zm-.464 4.95l.707.707a1 1 0 001.414-1.414l-.707-.707a1 1 0 00-1.414 1.414zm2.12-10.607a1 1 0 010 1.414l-.706.707a1 1 0 11-1.414-1.414l.707-.707a1 1 0 011.414 0zM17 11a1 1 0 100-2h-1a1 1 0 100 2h1zm-7 4a1 1 0 011 1v1a1 1 0 11-2 0v-1a1 1 0 011-1zM5.05 6.464A1 1 0 106.465 5.05l-.708-.707a1 1 0 00-1.414 1.414l.707.707zm1.414 8.486l-.707.707a1 1 0 01-1.414-1.414l.707-.707a1 1 0 011.414 1.414zM4 11a1 1 0 100-2H3a1 1 0 000 2h1z"
                        fill-rule="evenodd" clip-rule="evenodd"></path>
                </svg>
            </button>
        </nav>
    </div>
</header>