<!-- templates/ai_feed_optimiser/all-feeds.html -->
{% extends 'main/base.html' %}
{% load static %}

{% block title %}All Optimized Feeds{% endblock %}

{% block content %}

<div class="min-h-screen flex flex-col items-center py-8">
    <div class="bg-slate-100 dark:bg-slate-800 shadow-lg rounded-lg w-full max-w-7xl p-6">
        <h1 class="text-3xl font-bold mb-6">All Optimized Feeds</h1>
        {% if feeds %}
        <div class="overflow-x-auto shadow-lg rounded-xl border border-gray-300">
            <table class="min-w-full text-sm text-gray-500 dark:text-gray-400">
                <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
                    <tr class="">
                        <th class="text-left px-6 py-4">ID</th>
                        <th class="text-left px-6 py-4">Link</th>
                        <th class="text-left px-6 py-4">Name</th>
                        <th class="text-left px-6 py-4">URL</th>
                        <th class="text-left px-6 py-4">Type</th>
                        <th class="text-left px-6 py-4">Format</th>
                        <th class="text-left px-6 py-4">Date Created</th>
                        <th class="text-left px-6 py-4">Date Modified</th>
                        {% comment %}
                        <th class="text-left px-6 py-4">Options</th>
                        {% endcomment %}
                    </tr>
                </thead>
                <tbody>
                    {% for feed in feeds %}
                    <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
                        <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                            {{ feed.pk }}
                        </th>
                        <td class="px-6 py-4"><a
                                href="{% url 'ai_feed_optimiser:feed_optimiser_results' feed_id=feed.pk %}"
                                class="text-blue-600 hover:underline">View Results</a></td>
                        <td class="px-6 py-4">{{ feed.name }}</td>
                        {% if feed.url != None %}
                        <td class="px-6 py-4"><a href="{{ feed.url }}" class="text-blue-600 hover:underline"
                                target="_blank">Feed Source</a></td>
                        {% else %}
                        <td class="px-6 py-4">N/A</td>
                        {% endif %}
                        <td class="px-6 py-4">{{ feed.get_feed_type_display }}</td>
                        <td class="px-6 py-4">{{ feed.get_file_format_display }}</td>
                        <td class="px-6 py-4">{{ feed.date_created }}</td>
                        <td class="px-6 py-4">{{ feed.date_modified }}</td>
                        {% comment %}
                        <td class="px-6 py-4 flex gap-1">
                            {% include 'ai_feed_optimiser/components/options.html' %}
                        </td>
                        {% endcomment %}
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        {% else %}
        <p class="text-center text-gray-600">No feeds have been optimized yet. Please add a feed and run the
            optimization process.</p>
        {% endif %}
        <div class="mt-6">
            <a href="{% url 'ai_feed_optimiser:feed_optimiser' %}"
                class="text-white transition shadow-inner shadow-zinc-950 focus:outline-none font-medium rounded-lg text-sm px-5 py-2.5 bg-gray-700 hover:bg-gray-800 focus:shadow-zinc-600 border-gray-700 hover:shadow-zinc-600">
                Back to AI Feed Optimiser
            </a>
        </div>
    </div>
</div>

<script src="{% static 'feed-optimiser/js/script.js' %}"></script>

{% endblock %}