<!-- templates/image_resizer/index.html -->
{% extends 'main/base.html' %}
{% load static %}

{% block title %}Image Resizer{% endblock %}

{% block head %}
<link rel="stylesheet" href="{% static 'core/css/style.css' %}">
{% endblock %}

{% block content %}

<div class="container mx-auto px-4 py-5">
    <div class="flex flex-col md:flex-row items-center gap-5 md:py-5">
        <div class="w-full lg:w-1/2">
            <h1 class="text-4xl font-bold mb-3">Resize your images in bulk, for free!</h1>
            <p class="text-lg mb-6">Image Resizer is a free online service that allows you to resize images in bulk.
                With Image Resizer, you can easily resize all of your images in just a few clicks.</p>
            <div class="flex">
                <a href="#resizer"
                    class="text-white transition shadow-inner shadow-zinc-950 focus:outline-none font-medium rounded-lg text-sm px-5 py-2.5 bg-gray-700 hover:bg-gray-800 focus:shadow-zinc-600 border-gray-700 hover:shadow-zinc-600">Resize
                    Images</a>
            </div>
        </div>

        <div class="w-full lg:w-1/2">
            <img src="{% static 'image-resizer/images/cat-thinking.png' %}" alt="Cat Thinking With Coffee On Table"
                class="dark:hidden mx-auto lg:mx-0" height="350" loading="lazy">

            <img src="{% static 'image-resizer/images/cat-thinking-light.png' %}"
                alt="Cat Thinking With Coffee On Table" class="dark:block hidden mx-auto lg:mx-0" height="350"
                loading="lazy">

        </div>
    </div>
</div>

<div id="resizer" class="container mx-auto px-4 py-5">
    <div class="flex flex-col md:flex-row gap-5 md:py-5 items-center">
        <div class="w-full lg:w-7/12">
            <form id="resizer-form" class="bg-gray-100 dark:bg-gray-800 p-8 rounded-lg shadow-lg" method="post"
                action="{% url 'image_resizer:resize_image' %}" enctype="multipart/form-data">
                {% csrf_token %}

                {% if images_count %}
                <p class="text-lg mb-4">{{ images_count }} Images resized so far!</p>
                {% endif %}

                {% if messages %}
                <ul class="messages p-2 mb-4 rounded-lg bg-gray-700">
                    {% for message in messages %}
                    <li{% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
                        {% endfor %}
                </ul>
                {% endif %}

                <div class="mb-4">
                    <label for="id_images" class="block text-sm font-medium">Select image(s):</label>
                    <input type="file" name="images" id="id_images" multiple required
                        class="mt-1 block w-full text-sm text-gray-900 border border-gray-300 rounded-lg cursor-pointer bg-white focus:outline-none"
                        accept=".jpeg,.png,.webp,.pdf,.tiff,.jpe,.pcx,.ppm,.sgi,.tga,.bmp,.eps,.gif,.ico">
                </div>

                <div class="mb-4">
                    <label for="id_target_width" class="block text-sm font-medium">Enter the max width or height in
                        pixels:</label>
                    <input type="number" name="target_width" id="id_target_width" required
                        class="mt-1 p-2 border border-gray-300 rounded-lg w-full text-blue-900">
                </div>

                <div class="mb-4">
                    <label for="id_format" class="block text-sm font-medium">Select format to convert images to:</label>
                    <select name="format" id="id_format" required
                        class="mt-1 p-2 border border-gray-300 rounded-lg w-full text-blue-900">
                        <option value="jpeg">JPEG</option>
                        <option value="png">PNG</option>
                        <option value="webp">WEBP</option>
                        <option value="pdf">PDF</option>
                        <option value="tiff">TIFF</option>
                        <option value="jpe">JPE</option>
                        <option value="pcx">PCX</option>
                        <option value="ppm">PPM</option>
                        <option value="sgi">SGI</option>
                        <option value="tga">TGA</option>
                        <option value="bmp">BMP</option>
                        <option value="eps">EPS</option>
                        <option value="gif">GIF</option>
                        <option value="ico">ICO</option>
                    </select>
                </div>

                <label for="custom_name_switch" class="inline-flex items-center cursor-pointer mt-4">
                    <input id="custom_name_switch" name="use_custom_name" type="checkbox" value="on"
                        class="sr-only peer">
                    <div
                        class="relative w-11 h-6 bg-gray-200 rounded-full peer peer-focus:ring-4 peer-focus:ring-blue-300 dark:peer-focus:ring-blue-800 dark:bg-gray-700 peer-checked:after:translate-x-full rtl:peer-checked:after:-translate-x-full peer-checked:after:border-white after:content-[''] after:absolute after:top-0.5 after:start-[2px] after:bg-white after:border-gray-300 after:border after:rounded-full after:h-5 after:w-5 after:transition-all dark:border-gray-600 peer-checked:bg-blue-600 z-0">
                    </div>
                    <span class="ms-3 text-sm font-medium text-gray-900 dark:text-gray-300">Use custom name?</span>
                </label>

                <div class="mb-4 invisible" id="custom_name_wrapper">
                    <label for="id_custom_name" class="block text-sm font-medium">Enter custom name:</label>
                    <input type="text" name="custom_name" id="id_custom_name"
                        class="mt-1 p-2 border border-gray-300 rounded-lg w-full text-blue-900">
                </div>

                <button id="resize-button" type="submit"
                    class="w-full text-white transition shadow-inner shadow-zinc-950 focus:outline-none font-medium rounded-lg text-sm px-5 py-2.5 bg-gray-700 hover:bg-gray-800 focus:shadow-zinc-600 border-gray-700 hover:shadow-zinc-600">
                    Resize
                </button>
                <hr class="my-4">

                <small class="">Your resized images will be downloaded to your computer in a zip
                    file.</small><br>
                <small class="">Maximum size per resize: 65 MB</small>
            </form>
        </div>

        <div class="w-full lg:w-5/12">
            <h2 class="text-3xl font-bold mb-3">How it works</h2>
            <p class="text-lg mb-4">Image Resizer is very easy to use. Just follow these simple steps:</p>
            <ol class="list-decimal list-inside text-lg space-y-2">
                <li>Upload your images to Image Resizer.</li>
                <li>Select the desired width of your images.</li>
                <li>Select the desired output formats for your resized images.</li>
                <li>Choose whether you want a custom name for your resized images.</li>
                <li>Click on the "Resize" button.</li>
            </ol>
        </div>

    </div>
</div>

<div class="container mx-auto px-4 py-5">
    <div class="flex flex-col md:flex-row items-center gap-5 md:py-5">

        <div class="w-full lg:w-1/2">
            <h2 class="text-3xl font-bold mb-3">Benefits</h2>
            <p class="text-lg mb-4">There are many benefits to using Image Resizer. Here are just a few:</p>
            <ol class="list-decimal list-inside text-lg space-y-2">
                <li><strong>Save time</strong>: Image Resizer can save you a lot of time by automatically resizing all
                    of your images for you.</li>
                <li><strong>Improve image quality</strong>: Image Resizer uses high-quality algorithms to resize your
                    images, so you can be sure that they will look great.</li>
                <li><strong>Optimize your website for search engines</strong>: By resizing your images, you can improve
                    the loading speed of your website, which can help you rank higher in search engine results pages
                    (SERPs).</li>
                <li><strong>Choose multiple formats</strong>: Image Resizer allows you to choose multiple formats for
                    your resized images, so you can choose the format that best suits your needs.</li>
                <li><strong>It's free!</strong></li>
            </ol>
        </div>

        <div class="w-full lg:w-1/2">
            <img src="{% static 'image-resizer/images/cat-plant.png' %}" alt="Cat Watching Plant Grow"
                class="dark:hidden mx-auto lg:mx-0" height="350" loading="lazy">

            <img src="{% static 'image-resizer/images/cat-plant-light.png' %}" alt="Cat Watching Plant Grow"
                class="dark:block hidden mx-auto lg:mx-0" height="350" loading="lazy">
        </div>

    </div>
</div>

<div class="px-4 py-5">
    <div class="py-4">
        <h2 class="text-3xl font-bold mb-3 md:text-center">Resize your images today!</h2>
        <div class="md:max-w-2xl mx-auto text-lg space-y-4 md:text-center">
            <p>If you're looking for a quick and easy way to resize your images, then Image Resizer is the perfect
                solution for you.</p>
            <p>With Image Resizer, you can easily resize all of your images in just a few clicks. So what are you
                waiting for?</p>
            <p>Try Image Resizer today!</p>
        </div>
    </div>
</div>

<script src="{% static 'image-resizer/js/script.js' %}"></script>
{% endblock %}